.Copied {
    padding: 5px;
    width: 200px;
    height: 40px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
    background: #C0D3F0;
    color: #05264E;
    border-radius: 10px;
    box-shadow: 0px 2px 4px -5px rgba(10, 42, 105, 0.05);
    border: 1px solid #3C65F5;
}