.inputString {
    display: block;
    width: 290px;
    padding-left: 10px;
    border: 1px solid #3C65F5;
    box-shadow: 0px 2px 4px -5px rgba(10, 42, 105, 0.05);
    border-radius: 10px;
    height: 25px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.Form {
    padding: 0px 10px;
    height: 100%;
}

.submitButton {
    height: 35px;
    width: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3C65F5;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
    font-size: large;
    color: white;
    border: 0px;
    margin-bottom: 10px;
}