.Menu {
    display: flex;
    height: 40px;
    align-items: center;
    margin-bottom: 10px;
}

.Menu > div {
    height: 35px;
    width: 50px;
    margin-left: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3C65F5;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
    color: white;
}

.Menu > p {
    margin-left: 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
}